#
# SPDX-License-Identifier: GPL-3.0-or-later

LABEL arch64
TEXT HELP
Boot the SkorionOS installer.
It allows you to install SkorionOS.
ENDTEXT
MENU LABEL Install SkorionOS
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-skchos
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-skchos.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G
