#
# SPDX-License-Identifier: GPL-3.0-or-later

LABEL arch64
TEXT HELP
Boot the SkorionOS installer with graphical interface.
It allows you to install SkorionOS using a modern GUI.
ENDTEXT
MENU LABEL Install SkorionOS (Graphical)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-skchos
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-skchos.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G ibt=off pci=noaer split_lock_detect=off iomem=relaxed preempt=full nowatchdog

LABEL arch64_text
TEXT HELP
Boot the SkorionOS text installer.
Use this if the graphical installer fails to start.
ENDTEXT
MENU LABEL Install SkorionOS (Text Mode)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-skchos
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-skchos.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G installer=text nomodeset ibt=off pci=noaer split_lock_detect=off iomem=relaxed preempt=full nowatchdog
